{% extends "base.html" %}

{% block title %}Blog - Static Designs {% endblock %}
{% block description %}Read more reasons why your business needs a custom website for an affordable price {% endblock %}

{% block content %}

<section class="page-header">
    <div class="container">
        <h1 class="page-title">Learn More</h1>
        <p class="page-subtitle">Read these articles to help you understand what goes into making a custom site </p>
        <p class="page-subtitle">Read these articles to help you decide what you're looking for </p>
        <p class="page-subtitle">Read these articles to help you learn more </p>


    </div>
</section>